<%- include("header",{
title:"Login"
}); -%>
<div class="container">
    <h1>Login</h1>
    <form id="login-form">
        <label for="user_email">Email</label>
        <input type="email" class="input" name="email"
               id="user_email" placeholder="Enter your email">
        <label for="user_pass">Password</label>
        <input type="password" class="input" name="password"
               id="user_pass" placeholder="Enter new password">
        <% if(typeof error !== "undefined"){ %>
            <div class="err-msg"><%= error %></div>
        <% } %>
        <input type="submit" value="Login">
        <div class="link"><a href="./signup">Sign Up</a></div>
    </form>

    <div id="g-sign-in-wrapper" style="margin-top: 1rem;">
        <div class="g-icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48">
                <g>
                    <path fill="#EA4335"
                          d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                    <path fill="#4285F4"
                          d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                    <path fill="#FBBC05"
                          d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                    <path fill="#34A853"
                          d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                    <path fill="none" d="M0 0h48v48H0z"></path>
                </g>
            </svg>
        </div>
        <a id="sign-in-button-text" href="/api/auth/signin" class="button-text" style="color: white; text-decoration: none">Login using OAuth2</a>
    </div>
</div>
<%- include("footer"); -%>

<script>
    const buttonControl = function () {
        const loginButton = document.getElementById('sign-in-button-text');

        loginButton.addEventListener('click', signInWithGoogle);
    }

    const signInWithGoogle = function () {
        window.location.href = "/api/auth/signin";
    }

    // Эта функция вспомогательная. Нужна для установки куки на клиенте.
    // Как чекнуть: Браузер -> F12 -> Application (сверху) -> Cookies
    function setCookie(name, value, hours) {
        let expires = "";

        if (hours) {
            const date = new Date();
            date.setTime(date.getTime() + (hours * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }

        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    // Берем форму из HTML по её айдишнику
    const form = document.getElementById("login-form");

    // Вешаем на форму слушатель событий. На событие "submit", когда юзер
    // подтверждает отправку формы на бэкэнд
    form.addEventListener("submit", (e) => {
        // Отменяем стандартное поведение формы, чтобы не было перезагрузки страниц
        e.preventDefault();

        // Конвертируем данные формы в JSON
        const formData = new FormData(form);
        const jsonData = {};

        // Достаем из каждого поля формы ключ и значение и записываем в мапу (отображение) jsonData
        for (const [key, value] of formData.entries()) {
            jsonData[key] = value;
        }

        // Отправляем данные на сервер в формате JSON
        fetch("/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(jsonData)
        })
            .then(response => response.json()) // Парсим ответ от сервера в формат JSON
            .then(data => {
                console.log(data);

                if (data.status === 0) {
                    // Сохраняем JWT токен в Cookies
                    setCookie("token", data.token, 1);

                    window.location.href = "/"; // Редирект на домашнюю
                } else {
                    console.error("Login failed");
                }
            }) // Выводим ответ в консоль
            .catch(error => console.error(error)); // Обрабатываем ошибки (просто вывод на экран)
    });

    appStart();
</script>